*,
*:after,
*:before {
	box-sizing: border-box;
}
section.inverse {
	margin: 20px;
	padding: 20px;
	background-color: black;
}
body {
	/*background-color: purple;*/
}

/* --------------------------------
	Toogle switch common
-----------------------------------*/

.switch {
	display: inline-flex;
	position: relative;
	width: 120px;
	height: 60px;
	margin: 10px;
	color: transparent;
}
.switch > label {
	top: 0px;
	left: 0px;
	bottom: 0px;
}
input.toggleS {
	display: none;
	visibility: hidden;
	/*margin-right: -9999px;*/
	position: absolute;
}
input.toggleS + label {
	display: block;
	position: relative;
	cursor: pointer;
	outline: none;
	user-select: none;
	box-shadow: 0 0 5px rgba(0,0,0,0.15);
}

/* --------------------------------
	Round toggle switch
-----------------------------------*/

input.toggleS-round + label {
	padding: 2px;
	position: absolute;
	width: 120px;
	height: 60px;
	background-color: #dddddd;
	border-radius: 60px;
}
input.toggleS-round + label:after,
input.toggleS-round + label:before {
	display: block;
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	content: "";
}
input.toggleS-round + label:before{
	background-color: #f1f1f1;
	border-radius: 60px;
	transition: background 0.4s;
}
input.toggleS-round + label:after{
	top: 0;
	bottom: 0;
	left: 0;
	width: 60px;
	background-color: #fff;
	border-radius: 100%;
	transition: margin 0.4s;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
input.toggleS-round:checked + label:before{
	background-color: #8ce196;
	box-shadow: 0 0 5px #8ce196;
}
input.toggleS-round:checked + label:after{
	margin-left: 60px;
	box-shadow: inset 0 0 5px #8ce196;
}
input.toggleS-round:checked + label {
	background-color: transparent;
	box-shadow: 0 0 0 transparent;
}
/* --------------------------------
	Flat toggle switch
-----------------------------------*/

input.toggleS-flat + label {
	padding: 2px;
	position: absolute;
	width: 120px;
	height: 60px;
	background-color: #dddddd;
	border-radius: 60px;
}
input.toggleS-flat + label:after,
input.toggleS-flat + label:before {
	display: block;
	position: absolute;
	content: "";
}
input.toggleS-flat + label:before{
	right: 4px;
	top: 4px;
	left: 4px;
	bottom: 4px;
	background-color: #f1f1f1;
	border-radius: 60px;
	transition: background 0.4s;
}
input.toggleS-flat + label:after{
	top: 8px;
	left: 8px;
	bottom: 8px;
	width: 44px;
	height: 44px;
	background-color: #ffffff;
	border-radius: 100%;
	transition: margin 0.4s;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
input.toggleS-flat:checked + label:before{
	background-color: #8ce196;
	box-shadow: 0 0 5px #8ce196;
}
input.toggleS-flat:checked + label:after{
	margin-left: 60px;
	box-shadow: inset 0 0 5px #8ce196;
}
input.toggleS-flat:checked + label {
	background-color: transparent;
	box-shadow: 0 0 0 transparent;
}

/* --------------------------------
	Flip toggle switch
-----------------------------------*/

input.toggleS-flip + label {
	padding: 2px;
	position: absolute;
	width: 120px;
	height: 60px;
	background-color: #dddddd;
	border-radius: 5px;
}
input.toggleS-flip + label:after,
input.toggleS-flip + label:before {
	display: block;
	position: absolute;
	right: 1px;
	top: 1px;
	left: 1px;
	bottom: 1px;
}
input.toggleS-flip + label:before{
	color: rgba(0,0,0,0.5);
	text-align: center;
	font-family: 'Robato', sans-serif;
	font-size: 30px;
	padding-top: 12px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	content: 'NO';
	border-radius: 5px;
	background: -webkit-linear-gradient(-90deg,#f1f1f1,rgba(0,0,0,0.13)),#f1f1f1;
	transition: background 0.4s;
}
input.toggleS-flip:checked + label:before{
	background: -webkit-linear-gradient(-90deg,#8ce196,rgba(0,0,0,0.13)),#8ce196;
	content: "YES";
	color: #fff;
	box-shadow: 0 0 5px #8ce196;
}
input.toggleS-flip:checked + label {
	box-shadow: 0 0 5px #8ce196;
}

/* --------------------------------
	Flip toggle switch 2
-----------------------------------*/

input.toggleS-flip2 + label {
	padding: 2px;
	position: absolute;
	width: 120px;
	height: 60px;
	background-color: #dddddd;
	border-radius: 5px;
}
input.toggleS-flip2 + label:after,
input.toggleS-flip2 + label:before {
	display: block;
	position: absolute;
	right: 1px;
	top: 1px;
	left: 1px;
	bottom: 1px;
	overflow: hidden;
}
input.toggleS-flip2 + label:after {
	color: transparent;
	text-align: center;
	font-family: 'Robato', sans-serif;
	font-size: 30px;
	padding-top: 12px;
	content: 'YES';
	/*opacity: 0;*/
	z-index: 1;
	margin-right: 120px;
	-webkit-transition: background 0.4s, margin 0.4s, -webkit-opacity 0.4s ease-out;
	transition: background 0.4s, margin 0.4s, opacity 0.4s ease-out;
}
input.toggleS-flip2 + label:before{
	color: rgba(0,0,0,0.5);
	text-align: center;
	font-family: 'Robato', sans-serif;
	font-size: 30px;
	padding-top: 12px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	content: 'NO';
	/*opacity: 1;*/
	border-radius: 5px;
	margin-left: 0;
	z-index: 2;
	background: -webkit-linear-gradient(-90deg,#f1f1f1,rgba(0,0,0,0.13)),#f1f1f1;
	-webkit-transition: background 0.4s, margin 0.4s, -webkit-opacity 0.4s ease-in;
	transition: background 0.4s, margin 0.4s, opacity 0.4s ease-in;
}
input.toggleS-flip2:checked + label:before{
	content: "";
	/*opacity: 0;*/
	margin-left: 120px;
}
input.toggleS-flip2:checked + label {
	box-shadow: 0 0 5px #8ce196;
}
input.toggleS-flip2:checked + label:after {
	/*opacity: 1;*/
	margin-right: 0;
	color: #fff;
	box-shadow: 0 0 5px #8ce196;
	background: -webkit-linear-gradient(-90deg,#8ce196,rgba(0,0,0,0.13)),#8ce196;
}