*,
*:before,
*:after {
	box-sizing: border-box;
	position: relative;
	font-family: Helvetica, sans-serif;
}
body {
	background: purple;
	margin: 0;
	margin-top: 10px;
	margin-left: 10px;
	padding: 0;
}
div.wrapper {
	display: inline-flex;
}
.dynback {
	margin-top: 50px;
	position: relative;
	display: flex;
	margin: 0;
	padding: 0;
	width: 110%;
	height: 500px;
	background-image: url('bg.jpg');
	background-clip: border-box;
	background-position: center;
	background-size: 400px 300px;
	background-repeat: no-repeat;
}